<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Get your car</title>
</head>
<body>
    <div class='container'>
        <h1>Post a Car</h1>

        <p>Enter the desired car type</p>
        {% if cars is not empty %}
            <p>Here is your posted car:</p>
            <ul>
                {% for car in cars %}
                    <li>{{ car.getModel }}</li>
                    <li>{{ car.getPrice }}</li>
                    <li>{{ car.getMiles }}</li>
                    <li><img src= {{ car.getImage }}></li>
                {% endfor %}
            </ul>
        {% endif %}


        <form action='/cars' method='post'>
            <div class='form-group'>
                <label for='make_model'>Enter your car model:</label>
                <input id='make_model' name='make_model' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for='price'>Enter your car's price:</label>
                <input id='price' name='price' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter your car's mileage</label>
                <input id='miles' name='miles' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='image_path'>Enter a picture of your car</label>
                <input id='image_path' name='image_path' class='form-control' type='url'>
            </div>


            <button type='submit' class='btn-success'>Create</button>
        </form>

        <form action ='/delete_cars' method='post'>
            <button type='submit' class='btn-danger'>Clear</button>
        </form>
    </div>
</body>
</html>
