<html>
    <head>
        <title>Post a Car</title>
    </head>
    <body>
        <h1>You posted a car!!!!!!!</h1>
        <p>{{ newcar.getModel }}</p>
        <p>{{ newcar.getPrice }}</p>
        <p>{{ newcar.getMiles }}</p>
        <p>{{ newcar.getImage }}</p>
        <p><a href='/'>View your posted cars.</p>
    </body>
</html>
